html, body {
    max-width: 100%;
    min-width: 440px;
    overflow-x: hidden;
}

header {
    min-width: 440px;
}

main {
    padding: 65px 0 0 100px;
}

footer {
    min-width: 440px;
}

.dev {
    border: 1px solid red;
}

.progbar {
    width: 120px;
}

.searchquery {
    width: 160px !important;
}

/* media queries */

@media only screen and (min-width: 768px) {
    .searchquery {
        width: 220px !important;
    }
}

@media only screen and (min-width: 992px) {
    .searchquery {
        width: 300px !important;
    }
}